body{
    font-family:'Work Sans', sans-serif;
    font-size: large;
    font-weight: 400;
}
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color:#0D0D0D;
    padding: 10px 0;
    z-index: 1000;
}

h1{
    color: whitesmoke; 

}

.divider{
    margin-top: 5%;
}

.banner-img{
    
    background-image:url("images/poolside-hotel.jpg");
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    margin: 0 !important;
    padding-top: 20%;
}

.navbar {
    margin-bottom: 0 !important; 
}

/* Style for the hero section */
#hero {
    background-image: url('your-hero-image.jpg');
    background-size: cover;
    color: white;
    padding-top: 0%;
    padding-bottom: 0%;
}

/* Style for the container within the hero */
#hero .container {
    z-index: 1; 
}


 

/* Style for the section that pops out */
#popout-section {
    position: absolute;
    bottom: -50px; 
    left: 50%; 
    transform: translateX(-50%);
    background-color: #fff; /* Background color for the popped-out section */
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); 
    z-index: 2; 
}

.custom-modal-body {
    height: 275px; 
    max-width: auto;
    overflow-y: auto; 
}

.product-device,
.product-device-2 {
    box-shadow: none; /* Remove the shadow */
}
.customBtn{
    background-color: #EEDF7A;
    width:20%;

}